extends layout.pug

block content
  - const percentage = (x, y) => Math.floor((x / y) * 100)

  div.card
    div.table-responsive
      table.table.table-hover.table-outline.table-vcenter.text-nowrap.card-table
        thead
          tr
            th.w-1
            th Org
            th Repositories
            th Coverage
            th.text-right Activity
            th.w-1

        tbody
          each installation in installations
            tr
              td.text-center: a.avatar.rounded(href=`/${installation.name}` style=`background-image: url(https://unavatar.now.sh/github/${installation.name})`): span.avatar-status.bg-green

              td
                a(href=`/${installation.name}`)=installation.name

              td= `${installation.available || 0} / ${installation.total}`

              td
                - const progress = percentage(installation.available, installation.total) || 0

                div.clearfix
                  div.float-left: strong= `${progress}%`
                div.progress.progress-xs: .progress-bar.bg-green(role='progressbar', style=`width: ${progress}%`)

              td.text-right
                div.small.text-muted Last Update
                div= day(installation.updated).fromNow()

              td.text-center
                div.item-action.dropdown
                  a.icon(href='javascript:void(0)', data-toggle='dropdown')
                    i.fe.fe-more-vertical
                  div.dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href=`/${installation.name}/scan`)
                      i.dropdown-icon.fe.fe-refresh-cw
                      |  Scan Org

                    div.dropdown-divider

                    a.dropdown-item(href=`https://github.com/organizations/${installation.name}/settings/installations/${installation.id}`, target='_blank')
                      i.dropdown-icon.fe.fe-trash-2
                      | Uninstall Colophon
