div.card
  div.card-status.bg-yellow
  div.card-header
    h1.card-title Missing Colophon

    div.card-options
      time.small.text-muted(data-toggle="tooltip" data-placement="left" title="Last Update" datetime= repository.updated) #[i.fe.fe-clock.mr-2] #[span= day(repository.updated).fromNow()]

  div.card-alert.alert.alert-warning.mb-0
    i.fe.fe-alert-triangle.mr-2
    span This repository is either missing a colophon file, or has not been indexed yet

  div.card-body
    h2 Getting Started
    p Start by creating a #[code .colophon.yml] file in your repository's root:

    div.highlight
      pre
        code.language-yaml
          | id: #{repository.name}
          |
          | about:
          |   title: #{repository.name}
          |   description: Your Project Description
          |
          | contacts:
          |   humans: #{user.name} <#{user.email}>
          |
          | environments:
          |   - type: git
          |     title: Source Code
          |     uri: https://github.com/#{repository.org}/#{repository.name}

    div read more about the #[a(href='https://github.com/project-colophon/schema' target='_blank') colophon schema] for further customization.
