extends ../layouts/session.pug

block header
  script(type='text/javascript').
    function changeSortingMethod(sortingMethod) {
      const { origin, pathname, search } = window.location
      const query = new URLSearchParams(search)

      query.set('sorting_method', sortingMethod)

      window.location.href = `${origin}${pathname}?${query.toString()}`
    }

  div.page-header
    h1.page-title
      div.row.align-items-center
        div.col-auto: a.avatar.avatar-md.rounded(href=`/${org}` style=`background-image: url(https://unavatar.now.sh/github/${org})`)
        div.col-auto
          span= org

    if (total)
      div.page-subtitle #[i= total] repositories

    if (repositories)
      div.page-options.d-flex
        div.btn-toolbar
          div.btn-group.mr-2
            a.btn.btn-secondary(href=`/${org}/scan`)
              i.fe.fe-crosshair.mr-2
              | Scan Org

          div.input-group
            select.form-control.custom-select.w-auto(onchange='changeSortingMethod(this.value)')
              option(value='asc', selected= sortingMethod == 'asc') a - z
              option(value='desc', selected= sortingMethod == 'desc') z - a
              option(value='newest', selected= sortingMethod == 'newest') Newest
              option(value='oldest', selected= sortingMethod == 'oldest') Oldest
